<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 0">
    <div
      style="
        width: 700px;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        justify-content: center;
        padding: 50px;
      "
    >
      <div
        style="
          width: 100%;
          background-color: #000000;
          color: white;
          text-align: center;
        "
      >
        오늘의 기사
      </div>
    </div>
  </body>
</html>
