<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 0">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="center">
          <!--배경 테두리 -->
          <table border="1" cellpadding="0" cellspacing="0" width="600">
            <tr>
              <td>
                <table
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="padding: 20px"
                >
                  <!--로고 -->
                  <tr id="logo">
                    <td style="font-size: 24px; font-weight: 700">
                      KEYWORDKATCH
                    </td>
                  </tr>
                  <!--로고 밑 공백 -->
                  <tr id="space-between-logo-and-box">
                    <td style="padding: 7px"></td>
                  </tr>
                  <!--날짜와 닉네임 박스 -->
                  <tr id="box">
                    <td
                      align="center"
                      bgcolor="#000000"
                      style="padding: 40px 0 30px 0"
                    >
                      <p
                        style="color: white; font-size: 20px; font-weight: 700"
                      >
                        {{today}},<br />
                        {{nickname}}님에게 전달할 뉴스
                      </p>
                    </td>
                  </tr>
                  <!--박스 밑 공백 -->
                  <tr id="space">
                    <td style="padding: 10px"></td>
                  </tr>
                  <!--뉴스1 -->
                  <tr id="news1">
                    <td>
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="328" valign="top">
                            <table>
                              <tr>
                                <td width="328" style="font-size: 14px">
                                  {{news1_unlone}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table>
                                    <tr>
                                      <td width="328">
                                        <a
                                          href="{{news1_src}}"
                                          style="
                                            font-size: 14px;
                                            font-weight: 700;
                                            text-decoration: none;
                                            color: #000000;
                                          "
                                        >
                                          {{news1_title}}</a
                                        >
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <table border="1" width="328"></table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding: 7px"></td>
                                    </tr>
                                    <tr>
                                      <td width="328" style="font-size: 12px">
                                        {{news1_content}}
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td width="212">
                            <img
                              style="width: 212px; height: 141px"
                              src="{{news1_picture}}"
                              alt="기사사진"
                            />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!--뉴스 사이 공백 -->
                  <tr>
                    <td style="padding: 10px"></td>
                  </tr>
                  <!--뉴스2 -->
                  <tr id="news2">
                    <td>
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="212">
                            <img
                              style="width: 212px; height: 141px"
                              src="{{news2_picture}}"
                              alt="기사사진"
                            />
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td width="328" style="text-align: right">
                            <table>
                              <tr>
                                <td width="328" style="font-size: 14px">
                                  {{news2_unlone}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table>
                                    <tr>
                                      <td width="328">
                                        <a
                                          href="{{news1_src}}"
                                          style="
                                            font-size: 14px;
                                            font-weight: 700;
                                            text-decoration: none;
                                            color: #000000;
                                          "
                                        >
                                          {{news2_title}}</a
                                        >
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <table border="1" width="328"></table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding: 7px"></td>
                                    </tr>
                                    <tr>
                                      <td width="328" style="font-size: 12px">
                                        {{news2_content}}
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!--뉴스 사이 공백 -->
                  <tr>
                    <td style="padding: 10px"></td>
                  </tr>
                  <!--뉴스3 -->
                  <tr id="news3">
                    <td>
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="328" valign="top">
                            <table>
                              <tr>
                                <td width="328" style="font-size: 14px">
                                  {{news3_unlone}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table>
                                    <tr>
                                      <td width="328">
                                        <a
                                          href="{{news1_src}}"
                                          style="
                                            font-size: 14px;
                                            font-weight: 700;
                                            text-decoration: none;
                                            color: #000000;
                                          "
                                        >
                                          {{news3_title}}</a
                                        >
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <table border="1" width="328"></table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding: 7px"></td>
                                    </tr>
                                    <tr>
                                      <td width="328" style="font-size: 12px">
                                        {{news3_content}}
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td width="212">
                            <img
                              style="width: 212px; height: 141px"
                              src="{{news3_picture}}"
                              alt="기사사진"
                            />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!--뉴스 사이 공백 -->
                  <tr>
                    <td style="padding: 10px"></td>
                  </tr>
                  <!-- 텍스트 -->
                  <tr id="etc_news">
                    <td style="font-weight: 700">그 외 기사들</td>
                  </tr>
                  <!-- 텍스트 밑 공백 -->
                  <tr>
                    <td style="padding: 5px"></td>
                  </tr>
                  <!--그 외 기사 1 -->
                  <tr id="etc_news1">
                    <td>
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="444" valign="top">
                            <table>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news1_unlone}}
                                </td>
                              </tr>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news1_title}}
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td
                            width="96"
                            style="font-size: 14px; background-color: #000000"
                            align="center"
                          >
                            <a
                              width="100%"
                              href="{{etc_news1_src}}"
                              style="text-decoration: none; color: white"
                            >
                              바로가기
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!--그 외 기사 사이 공백 -->
                  <tr>
                    <td style="padding: 5px"></td>
                  </tr>
                  <!--그 외 기사 2 -->
                  <tr id="etc_news2">
                    <td>
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="444" valign="top">
                            <table>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news2_unlone}}
                                </td>
                              </tr>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news2_title}}
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td
                            width="96"
                            style="font-size: 14px; background-color: #000000"
                            align="center"
                          >
                            <a
                              width="100%"
                              href="{{etc_news2_src}}"
                              style="text-decoration: none; color: white"
                            >
                              바로가기
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!--그 외 기사 사이 공백 -->
                  <tr>
                    <td style="padding: 5px"></td>
                  </tr>
                  <!--그 외 기사 3 -->
                  <tr id="etc_news3">
                    <td>
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="444" valign="top">
                            <table>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news3_unlone}}
                                </td>
                              </tr>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news3_title}}
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td
                            width="96"
                            style="font-size: 14px; background-color: #000000"
                            align="center"
                          >
                            <a
                              width="100%"
                              href="{{etc_news3_src}}"
                              style="text-decoration: none; color: white"
                            >
                              바로가기
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!--그 외 기사 사이 공백 -->
                  <tr>
                    <td style="padding: 5px"></td>
                  </tr>
                  <!--그 외 기사 4 -->
                  <tr id="etc_news4">
                    <td>
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="444" valign="top">
                            <table>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news4_unlone}}
                                </td>
                              </tr>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news4_title}}
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td
                            width="96"
                            style="font-size: 14px; background-color: #000000"
                            align="center"
                          >
                            <a
                              width="100%"
                              href="{{etc_news4_src}}"
                              style="text-decoration: none; color: white"
                            >
                              바로가기
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!--그 외 기사 사이 공백 -->
                  <tr>
                    <td style="padding: 5px"></td>
                  </tr>
                  <!--그 외 기사 5 -->
                  <tr id="etc_news5">
                    <td>
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="444" valign="top">
                            <table>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news5_unlone}}
                                </td>
                              </tr>
                              <tr>
                                <td width="444" style="font-size: 14px">
                                  {{etc_news5_title}}
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>

                          <td
                            width="96"
                            style="font-size: 14px; background-color: #000000"
                            align="center"
                          >
                            <a
                              width="100%"
                              href="{{etc_news5_src}}"
                              style="text-decoration: none; color: white"
                            >
                              바로가기
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
